---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import SiteHeader from "@components/SiteHeader.astro";
import FeedHeader from "@components/FeedHeader.astro";
import PaginatedEntries from "@components/PaginatedEntries.astro";
import Aside from "@components/Aside.astro";
import { ARTICLES_TITLE, ARTICLES_DESCRIPTION } from "src/consts";

export const getStaticPaths = (async ({ paginate }) => {
	const allArticles = await getCollection("articles", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	});
	const allEntries = [...allArticles];
	allEntries.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);
	return paginate(allEntries, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const entries = await Promise.all(
	page.data.map(async (entry) => {
		const { Content } = await render(entry);
		return { ...entry, Content };
	}),
);
---

<BaseLayout
	bodyClass="homepage"
	pageTitle={ARTICLES_TITLE}
	pageDesc={ARTICLES_DESCRIPTION}
	ogType="website"
>
	<SiteHeader />
	<div class="page">
		<main id="main">
			<FeedHeader
				isVisuallyHidden={true}
				sectionTitle="Articles"
				sectionDesc={ARTICLES_DESCRIPTION}
			/>
			<PaginatedEntries page={page} entries={entries} />
		</main>
		<Aside />
	</div>
</BaseLayout>
