---
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { loadAndFormatCollection } from '@utils/collection';
import { render } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import BannerText from '@components/BannerText.astro';
import SiteHeader from '@components/SiteHeader.astro';
import FeedHeader from '@components/FeedHeader.astro';
import PaginatedEntries from '@components/PaginatedEntries.astro';
import Aside from '@components/Aside.astro';
import CurrentlyReading from '@components/CurrentlyReading.astro';
import { NOTES_TITLE, NOTES_DESCRIPTION } from 'src/consts';

type NotesEntry = CollectionEntry<'notes'>;

export const getStaticPaths = (async ({ paginate }) => {
	const allEntries = (await loadAndFormatCollection('notes')) as NotesEntry[];
	return paginate(allEntries, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const entries = await Promise.all(
	page.data.map(async (entry) => {
		const { Content } = await render(entry);
		return { ...entry, Content };
	}),
);

const pageTitle =
	page.currentPage > 1
		? `Page ${page.currentPage} - ${NOTES_TITLE}`
		: NOTES_TITLE;
---

<BaseLayout
	bodyClass="homepage"
	{pageTitle}
	pageDesc={NOTES_DESCRIPTION}
	ogType="website"
>
	<BannerText />
	<div class="page">
		<div>
			<SiteHeader />
			<div class="page-inner">
				<main id="main">
					<FeedHeader
						isVisuallyHidden={true}
						sectionTitle="Notes"
						sectionDesc={NOTES_DESCRIPTION}
					/>
					<PaginatedEntries page={page} entries={entries} />
				</main>
				<Aside>
					<CurrentlyReading />
				</Aside>
			</div>
		</div>
	</div>
</BaseLayout>
