---
import { loadAllEntries } from '@utils/loadAllEntries';
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BannerText from '@components/BannerText.astro';
import SiteHeader from '@components/SiteHeader.astro';
import FeedHeader from '@components/FeedHeader.astro';
import EntryList from '@components/EntryList.astro';
import Aside from '@components/Aside.astro';
import { SITE_TITLE } from 'src/consts';

export async function getStaticPaths() {
	const allEntries = await loadAllEntries();

	// Render all entries
	const renderedEntries = await Promise.all(
		allEntries.map(async (entry) => {
			const { Content } = await render(entry);
			return { ...entry, Content };
		}),
	);

	const uniqueTags = [
		...new Set(renderedEntries.map((entry) => entry.data.tags).flat()),
	];

	return uniqueTags.map((tag) => {
		const filteredEntries = renderedEntries.filter((entry) =>
			entry.data.tags.includes(tag),
		);
		return {
			params: { tag },
			props: { entries: filteredEntries },
		};
	});
}

const { tag } = Astro.params;
const { entries } = Astro.props;

const pageTitle = `Tagged: ${tag} | ${SITE_TITLE}`;
const sectionTitle = `Tagged: ${tag}`;
---

<BaseLayout {pageTitle}>
	<BannerText />
	<div class="page">
		<div>
			<SiteHeader />
			<main id="main">
				<FeedHeader isVisuallyHidden={false} {sectionTitle} />
				<EntryList entries={entries} />
			</main>
		</div>
		<Aside />
	</div>
</BaseLayout>
