---
import type { GetStaticPaths } from 'astro';
import { loadAllEntries } from '@utils/loadAllEntries';
import { render } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import BannerText from '@components/BannerText.astro';
import SiteHeader from '@components/SiteHeader.astro';
import FeedHeader from '@components/FeedHeader.astro';
import PaginatedEntries from '@components/PaginatedEntries.astro';
import Aside from '@components/Aside.astro';
import CurrentlyReading from '@components/CurrentlyReading.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from 'src/consts';

export const getStaticPaths = (async ({ paginate }) => {
	const allEntries = await loadAllEntries();
	return paginate(allEntries, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const entries = await Promise.all(
	page.data.map(async (entry) => {
		const { Content } = await render(entry);
		return { ...entry, Content };
	}),
);

const pageTitle =
	page.currentPage > 1
		? `Page ${page.currentPage} - ${SITE_TITLE}`
		: SITE_TITLE;
// const sectionDesc = page.currentPage > 1 ? `Page ${page.currentPage}` : '';
---

<BaseLayout
	bodyClass="homepage"
	{pageTitle}
	pageDesc={SITE_DESCRIPTION}
	ogType="website"
>
	<BannerText as="h1" />
	<div class="page">
		<div>
			<div class="page-inner">
				<div>
					<SiteHeader />
					<main id="main">
						<!-- cannot have two `h1` on the page -->
						<!-- <FeedHeader
							isVisuallyHidden={true}
							sectionTitle="Notes, Articles and Links"
							{sectionDesc}
						/> -->
						<PaginatedEntries page={page} entries={entries} />
					</main>
				</div>
				<Aside>
					<CurrentlyReading />
				</Aside>
			</div>
		</div>
	</div>
</BaseLayout>
