---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import SiteHeader from "@components/SiteHeader.astro";
import PaginatedEntries from "@components/PaginatedEntries.astro";
import Aside from "@components/Aside.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "src/consts";

export const getStaticPaths = (async ({ paginate }) => {
	const allNotes = await getCollection("notes", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	});
	const allArticles = await getCollection("articles", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	});
	const allLinks = await getCollection("links", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	});

	const allEntries = [...allNotes, ...allArticles, ...allLinks];
	allEntries.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);
	return paginate(allEntries, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const entries = await Promise.all(
	page.data.map(async (entry) => {
		const { Content } = await render(entry);
		return { ...entry, Content };
	}),
);
---

<BaseLayout
	bodyClass="homepage"
	pageTitle={SITE_TITLE}
	pageDesc={SITE_DESCRIPTION}
	ogType="website"
>
	<SiteHeader bannerTextAs="h1" />
	<div class="page">
		<main id="main">
			<PaginatedEntries
				sectionDesc="The online home of Arpit Agrawal, a web designer-developer from India."
				page={page}
				entries={entries}
			/>
		</main>
		<Aside>
			<!-- <div class="stack">
				<h2 class="heading-3">About this site</h2>
				<p>{SITE_DESCRIPTION}</p>
			</div>
			<hr /> -->
		</Aside>
	</div>
</BaseLayout>
