---
import type { ImageMetadata } from "astro";
import type { CSSProperty } from "astro/types";
import { Picture } from "astro:assets";

interface Props {
	imagePath: string;
	widths: number[];
	sizes: string;
	priority: boolean;
	style?: CSSProperty;
}

const { imagePath, widths, sizes, priority, style } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/images/book-covers/*.{jpeg,jpg,png,webp}"
);
if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "/src/images/book-covers/*.{jpeg,jpg,png,webp}"`
	);
---

<div class="cover" {style}>
	<Picture
		src={images[imagePath]()}
		alt=""
		formats={["avif", "webp"]}
		{widths}
		{sizes}
		{priority}
	/>
</div>
