---
import type { HTMLTag, Polymorphic } from "astro/types";
import { Picture } from "astro:assets";

import { SITE_TITLE } from "src/consts";
import myImage from "@images/arpit-96w.png"; // Image is 1600x900

type Props<Tag extends HTMLTag> = Polymorphic<{
	as: Tag;
	label?: string;
	"aria-current"?: string | null;
	"data-state"?: string | null;
}>;
const {
	as: Tag = "div",
	label = SITE_TITLE,
	"aria-current": ariaCurrent,
	"data-state": dataState,
	...rest
} = Astro.props;
---

<Tag class="home-nav-item nav-item heading-3 cluster gap-0" {...rest}>
	<Picture
		src={myImage}
		alt=""
		widths={[24, 48, myImage.width]}
		sizes="24px"
		pictureAttributes={{ class: "avatar" }}
		priority={true}
	/>
	<a
		class="text-box-trim"
		href="/"
		aria-current={ariaCurrent}
		data-state={dataState}
	>
		<span>{label}</span>
		<slot />
	</a>
</Tag>
