---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { loadAndFormatCollection } from "@utils/collection";
import { render } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import BannerText from "@components/BannerText.astro";
import SiteHeader from "@components/SiteHeader.astro";
import FeedHeader from "@components/FeedHeader.astro";
import PaginatedEntries from "@components/PaginatedEntries.astro";
import Aside from "@components/Aside.astro";
import CurrentlyReading from "@components/CurrentlyReading.astro";
import { LINKS_TITLE, LINKS_DESCRIPTION } from "src/consts";

type LinkEntry = CollectionEntry<"links">;

export const getStaticPaths = (async ({ paginate }) => {
	const allEntries = (await loadAndFormatCollection("links")) as LinkEntry[];
	return paginate(allEntries, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const entries = await Promise.all(
	page.data.map(async (entry) => {
		const { Content } = await render(entry);
		return { ...entry, Content };
	})
);
---

<BaseLayout
	bodyClass="homepage"
	pageTitle={LINKS_TITLE}
	pageDesc={LINKS_DESCRIPTION}
	ogType="website"
>
	<BannerText />
	<div class="page">
		<SiteHeader />
		<div class="page-inner">
			<main id="main">
				<FeedHeader
					isVisuallyHidden={true}
					sectionTitle="Links"
					sectionDesc={LINKS_DESCRIPTION}
				/>
				<PaginatedEntries page={page} entries={entries} />
			</main>
			<Aside>
				<CurrentlyReading />
			</Aside>
		</div>
	</div>
</BaseLayout>
