---
import type { ComponentProps } from 'astro/types';
import BaseHead from '@components/BaseHead.astro';

type Props = ComponentProps<typeof BaseHead> & {
	bodyClass?: string;
};

const {
	pageTitle,
	pageDesc,
	ogLocale,
	ogType,
	socialImageURL,
	socialImageAlt,
	canonicalURL,
	bodyClass,
} = Astro.props;
---

<!doctype html>
<html lang="en-IN" class="no-js">
	<head>
		<BaseHead
			pageTitle={pageTitle}
			pageDesc={pageDesc}
			ogLocale={ogLocale}
			ogType={ogType}
			socialImageURL={socialImageURL}
			socialImageAlt={socialImageAlt}
			canonicalURL={canonicalURL}
		/>
	</head>
	<body class={bodyClass}>
		<a
			class="skip-to-content heading-3 text-box-trim visually-hidden"
			href="#main"
		>
			Skip to content
		</a>
		<slot />
	</body>
</html>
