---
import type { ComponentProps } from "astro/types";
import BaseHead from "@components/BaseHead.astro";

type Props = ComponentProps<typeof BaseHead> & {
	bodyClass?: string;
};

const {
	pageTitle,
	pageDesc,
	ogLocale,
	ogType,
	socialImageURL,
	socialImageAlt,
	canonicalURL,
	bodyClass,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<BaseHead
			pageTitle={pageTitle}
			pageDesc={pageDesc}
			ogLocale={ogLocale}
			ogType={ogType}
			socialImageURL={socialImageURL}
			socialImageAlt={socialImageAlt}
			canonicalURL={canonicalURL}
		/>
	</head>
	<body class={bodyClass}>
		<a class="skip-to-content visually-hidden" href="#main">Skip to content</a>
		<slot />
	</body>
</html>

<style is:global>
	@layer blocks {
		.skip-to-content {
			position: absolute;
			inset-inline-start: var(--space-m);
			inset-block-start: var(--space-s);
			background: var(--color-bg-primary);
			z-index: 3;

			&::before {
				content: "";
				position: absolute;
				inset: calc(-1 * var(--border-thickness-focus));
				background: var(--color-bg-primary);
				z-index: -1;
			}
		}
	}
</style>
