---
import BaseLayout from '@layouts/BaseLayout.astro';
import BookCover from '@components/BookCover.astro';

import { getCollection } from 'astro:content';
import { slug } from 'github-slugger';

type Props = {
	pageTitle: string;
	pageDesc: string;
	sectionDesc: string;
	filterStatuses: string[];
};

const { pageTitle, pageDesc, sectionDesc, filterStatuses } = Astro.props;

// Determine which page we're on
const path = Astro.url.pathname;
const isLibraryPage = path.includes('/library/');

// Fetch and filter books
const books = await getCollection('books', ({ data }) =>
	filterStatuses.includes(data.status),
);

const uniqueTags = [...new Set(books.map((entry) => entry.data.tags).flat())];
---

<BaseLayout bodyClass="book-gallery" pageTitle={pageTitle} pageDesc={pageDesc}>
	<div class="wrapper">
		<a class="heading-3" href="/">Home</a>
		<main class="flow pb-space-l" id="main">
			<header class="flow">
				<div class="heading-group cluster gap-2xs">
					{
						isLibraryPage ? (
							<Fragment>
								<h1 aria-describedby="section-desc">Library</h1>
								<span class="text-box-trim" aria-hidden="true">
									/
								</span>
								<a class="heading-1 text-box-trim" href="/antilibrary/">
									Antilibrary
								</a>
							</Fragment>
						) : (
							<Fragment>
								<a class="heading-1 text-box-trim" href="/library/">
									Library
								</a>
								<span class="text-box-trim" aria-hidden="true">
									/
								</span>
								<h1 aria-describedby="section-desc">Antilibrary</h1>
							</Fragment>
						)
					}
				</div>
				<p
					id="section-desc"
					class="text-step-1 text-box-trim flow-space-m"
					aria-hidden="true"
				>
					{sectionDesc}
				</p>
			</header>
			<details class="flow" open>
				<summary class="heading-4">Filter</summary>
				<fieldset class="book-filters text-step--1 flow-space-xs" disabled>
					<div class="cluster">
						<div class="btn cluster gap-0">
							<input
								name="filter"
								id="all"
								type="radio"
								value="all"
								checked=""
							/>
							<label class="text-box-trim" for="all">All</label>
						</div>
						{
							uniqueTags.map((tag) => {
								const tagID = `tag-${slug(tag)}`;
								return (
									<div class="btn cluster gap-0">
										<input name="filter" id={tagID} type="radio" value={tag} />
										<label class="text-box-trim" for={tagID}>
											{tag}
										</label>
									</div>
								);
							})
						}
					</div>
				</fieldset>
			</details>
			<h2 id="books-results-count" aria-live="polite" class="visually-hidden">
				{books.length} books
			</h2>
			<ul class="book-list grid" role="list">
				{
					books.map((item, index) => {
						const viewTransitionName = `book-${item.id}`;
						const randomNum = Math.random() * (0.5 - -0.5) - 0.5;
						const rotationAngle = `calc(${randomNum} * 1deg)`;
						return (
							<li
								data-tags={item.data.tags}
								style={{
									'view-transition-name': viewTransitionName,
								}}
							>
								<div class="stack gap-2xs">
									<h2 class="heading-3 leading-snug">{item.data.title}</h2>
									<p class="text-step--1">{item.data.author}</p>
								</div>
								<div
									class="book-wrapper"
									style={{
										'--dominant-color': item.data.dominantColor,
										rotate: rotationAngle,
									}}
								>
									<div>
										<div class="cover">
											<BookCover
												imagePath={item.data.cover}
												widths={[315, 630]}
												priority={index < 10}
												sizes="(width < 23rem) 100vw, (width < 34.75rem) 50vw, (width <= 47.125rem) 33vw, (width <= 60.25rem) 25vw, 20vw"
											/>
										</div>
									</div>
								</div>
							</li>
						);
					})
				}
			</ul>
		</main>
	</div>
</BaseLayout>

<script src="/src/scripts/book-filters.js"></script>
