---
import type { AnyEntry } from '@appTypes/entries';
import { render } from 'astro:content';
import { formatDate } from '@utils/date';

import BaseLayout from '@layouts/BaseLayout.astro';
import SiteBanner from '@components/SiteBanner.astro';
import SiteHeader from '@components/SiteHeader.astro';
import EntryHeading from '@components/EntryHeading.astro';
import BackLink from '@components/BackLink.astro';
import PubDate from '@components/PubDate.astro';
import UpdatedDate from '@components/UpdatedDate.astro';
import LinkVia from '@components/LinkVia.astro';
import TagList from '@components/TagList.astro';
import EntryActions from '@components/EntryActions.astro';
import SiteSidebar from '@components/SiteSidebar.astro';

import {
	SITE_DESCRIPTION,
	NOTES_TITLE,
	ARTICLES_TITLE,
	LINKS_TITLE,
} from 'src/consts';

interface Props {
	entry: AnyEntry;
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const collectionTitles = {
	notes: `${formatDate(entry.data.pubDate)} - ${NOTES_TITLE}`,
	articles: `${entry.data.title} - ${ARTICLES_TITLE}`,
	links: `${entry.data.title} - ${LINKS_TITLE}`,
};
const pageTitle = collectionTitles[entry.collection];
---

<BaseLayout
	bodyClass="entry-page"
	pageTitle={pageTitle}
	pageDesc={SITE_DESCRIPTION}
>
	<SiteBanner />
	<div class="page">
		<div>
			<SiteHeader />
			<div class="center pi-space-m">
				<div class="align-self-stretch">
					<main id="main" class="pb-space-m">
						<article class="stack">
							<EntryHeading entry={entry} />
							<div
								class="entry-content flow"
								data-pagefind-body
								data-pagefind-meta={`date:${entry.data.pubDate}`}
								data-pagefind-filter={`collection:${entry.collection}`}
							>
								<Content />
							</div>
							<footer class="cluster gap-2xs text-step--1">
								{
									'updatedDate' in entry.data && entry.data.updatedDate ? (
										<Fragment>
											<del>
												<PubDate as="span" date={entry.data.pubDate} />
											</del>
											<span aria-hidden="true">•</span>
											<ins>
												<UpdatedDate date={entry.data.updatedDate} />
											</ins>
										</Fragment>
									) : (
										<PubDate date={entry.data.pubDate} />
									)
								}
								{
									'via' in entry.data && !!entry.data.via && (
										<LinkVia
											url={entry.data.via.url}
											label={entry.data.via.label}
										/>
									)
								}
							</footer>
							<footer
								class="stack gap-2xs text-step--1 place-self-end text-align-end"
							>
								{!!entry.data.tags && <TagList tags={entry.data.tags} />}
							</footer>
						</article>
					</main>
					<div
						class="entry-actions text-step--1"
						role="region"
						aria-label="Entry actions"
					>
						<EntryActions entryTitle={entry.data.title} />
					</div>
					<BackLink />
				</div>
			</div>
		</div>
		<SiteSidebar />
	</div>
</BaseLayout>
