---
import BaseLayout from '@layouts/BaseLayout.astro';
import BannerText from '@components/BannerText.astro';
import SiteHeader from '@components/SiteHeader.astro';
import BackLink from '@components/BackLink.astro';
import PubDate from '@components/PubDate.astro';
import UpdatedDate from '@components/UpdatedDate.astro';
import LinkVia from '@components/LinkVia.astro';
import ExternalLinkIcon from 'src/images/external-link.svg';
import TagList from '@components/TagList.astro';
import EntryShareAndFeedback from '@components/EntryShareAndFeedback.astro';
import Aside from '@components/Aside.astro';

import { SITE_DESCRIPTION } from 'src/consts';

const {
	pageTitle, // string
	bodyClass, // string
	entry, // CollectionEntry
	Content, // from render(entry)
} = Astro.props;
---

<BaseLayout
	bodyClass={bodyClass}
	pageTitle={pageTitle}
	pageDesc={SITE_DESCRIPTION}
>
	<BannerText />
	<div class="page">
		<div>
			<SiteHeader />
			<div class="page-inner">
				<div>
					<div class="center pi-space-m">
						<div class="align-self-stretch">
							<main id="main" class="pb-space-m">
								<article class="flow flow-space-m">
									{
										entry.collection != 'notes' && (
											<footer class="cluster gap-2xs text-step--1">
												<PubDate date={entry.data.pubDate} />
												{entry.data.updatedDate && (
													<Fragment>
														<span>•</span>
														<UpdatedDate date={entry.data.updatedDate} />
													</Fragment>
												)}
												{!!entry.data.via && (
													<Fragment>
														<span>•</span>
														<LinkVia
															url={entry.data.via.url}
															label={entry.data.via.label}
														/>
													</Fragment>
												)}
											</footer>
										)
									}
									{
										entry.collection === 'notes' && (
											<h1 class="text-step--1 text-box-trim font-regular">
												<PubDate as="span" date={entry.data.pubDate} />
											</h1>
										)
									}
									{
										entry.collection === 'articles' && (
											<h1>{entry.data.title}</h1>
										)
									}
									{
										entry.collection === 'links' && (
											<h1 class="link-entry-title">
												<a href={entry.data.link}>{entry.data.title}</a>
												<ExternalLinkIcon aria-hidden="true" />
											</h1>
										)
									}
									<div
										class="entry-content flow"
										data-pagefind-body
										data-pagefind-meta={`date:${entry.data.pubDate}`}
										data-pagefind-filter={`collection:${entry.collection}`}
									>
										<Content />
									</div>
									{!!entry.data.tags && <TagList tags={entry.data.tags} />}
								</article>
							</main>
							<div class="entry-actions text-step--1">
								<EntryShareAndFeedback />
							</div>
							<BackLink />
						</div>
					</div>
				</div>
				<Aside />
			</div>
		</div>
	</div>
</BaseLayout>

<style is:global>
	@layer blocks {
		.entry-actions > * {
			border-block-start: var(--border-thickness-separator) solid
				var(--color-border);
		}
	}
</style>
